<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include ../../components/head %>
	</head>
	<body>
		<%- include ../../components/header %>

		<div class="container">
			</br>
			<% if("updated" in query) { %>
				<div class="input-group alert alert-success alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Calendar updated!</strong><a></a>
				</div>
			<% } else if("deleted" in query) { %>
				<div class="input-group alert alert-danger alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Calendar deleted!</strong>
				</div>
			<% } else if("created" in query) { %>
				<div class="input-group alert alert-success alert-dismissable fade in">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Calendar created!</strong>
				</div>
			<% } %>

            <div id="calendar" style="display:none;">
				<button type="button" class="btn btn-primary" onclick="goBack()">Back</button>
				</br>
				</br>
		        <div class="row" style='width:100%;'>
		            <div class="col-xs-6 mr-auto">
		                <div class="input-group">
		                    <input type="text" id="url" class="form-control" placeholder="Url to an existing calendar">
                            <div class="input-group-prepend">
                                <div class="input-group-text"></div>
                            </div>
		                    <input type="text" id="urlTag" class="form-control" placeholder="Name for calendar">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="addUrl()"><i class="fa fa-check"></i></button>
                            </div>
		                </div>
		            	<table class='table table-hover setbackground'>
		            		<thead>
		            			<tr>
		            				<th>Calendar url</th>
		            				<th>Name</th>
		            				<th>Delete</th>
	            				</tr>
	        				</thead>
	        				<tbody id ="urls">
	        				</tbody>
	    				</table>
		            </div>
		            <div class="col-xs-6">
		                <div class="input-group">
		                    <input type="text" id="course" class="form-control" placeholder="Course number to filter">
                            <div class="input-group-prepend">
                                <div class="input-group-text"></div>
                            </div>
		                    <input type="text" id="courseTag" class="form-control" placeholder="Name for course">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="addCourse()"><i class="fa fa-check"></i></button>
                            </div>
		                </div>
		            	<table class='table table-hover setbackground'>
		            		<thead>
		            			<tr>
		            				<th>Course number</th>
		            				<th>Course name</th>
		            				<th>Delete</th>
	            				</tr>
	        				</thead>
	        				<tbody id="courseNumbers">
	        				</tbody>
	    				</table>
		            </div>
		        </div>
		        </br>
				<form>
					<div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Calendar url: </div>
                        </div>
						<input type="text" class="form-control" value="https://dupbit.com/ics/calendar_<%= query.calendar %>.ics" placeholder="Url to ics calendar" id="copy-input">
					</div>
				</form>
				</br>
            </div>
            <div id="calendar_overview" style="display:none;">
				<!-- calendar table -->
				<table class='table table-hover setbackground'>
					<thead>
						<tr>
							<th>id</th>
							<th>Name</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody id="calendar_overview_content">
					</tbody>
				</table>
				<!-- calendar table -->
		        <div class="row">
		            <div class="col-xs-3">
		                <div class="input-group">
		                    <input type="text" id="newName" onkeypress="handleKeyPress(event)" class="form-control" placeholder="Name for new calendar">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" onclick="createCalendar()"><i class="fa fa-check"></i></button>
                            </div>
		                </div>
		            </div>
		            <div class="col-xs-5"></div>
		        </div>
            </div>
            <input id="calendar_id" type="hidden" name="calendar" value="<%= query.calendar %>">
		</div>

        <%- include ../../components/footer %>
		<script>
			function handleKeyPress(e){
				var key=e.keyCode || e.which;
				if (key==13){
					createCalendar();
				}
			}
			function deleteCalendar(id){
                Request.DELETE("/api/calendar", {
                    id
                }).then((result) => {
                    if (result.success) {
                        document.getElementById(`c_${id}`).remove();
                    }
                });
			}
			function createCalendar(){
                const name = document.getElementById("newName").value;
                Request.POST("/api/calendar", {
                    name,
                }).then((result) => {
                    if (result.success) {
                        document.getElementById("calendar_overview_content").innerHTML += createCalendarRow(result.data);
                    }
                });
			}
			function deleteCourse(id){
                Request.DELETE("/api/calendar", {
                    id,
                    sort: "courses",
                }).then((result) => {
                    if (result.success) {
                        document.getElementById(`cn_${id}`).remove();
                    }
                });
			}
			function deleteUrl(id){
                Request.DELETE("/api/calendar", {
                    id,
                    sort: "urls",
                }).then((result) => {
                    if (result.success) {
                        document.getElementById(`url_${id}`).remove();
                    }
                });
			}
			function addUrl(){
                const data = document.getElementById("url").value;
                const info = document.getElementById("urlTag").value;
                const calendar = document.getElementById("calendar_id").value;

                Request.POST("/api/calendar", {
                    sort: "urls",
                    calendar,
                    data,
                    info,
                }).then((result) => {
                    if (result.success) {
                        document.getElementById("urls").innerHTML += createUrlRow(result.data);
                    }
                });
			}
			function addCourse(){
                const data = document.getElementById("course").value;
                const info = document.getElementById("courseTag").value;
                const calendar = document.getElementById("calendar_id").value;

                Request.POST("/api/calendar", {
                    sort: "courses",
                    calendar,
                    data,
                    info,
                }).then((result) => {
                    if (result.success) {
                        document.getElementById("courseNumbers").innerHTML += createCourseRow(result.data);
                    }
                });
			}
			function goBack(){
				window.location.href = "/projects/calendar";
			}
            async function setup() {
                if (query.has("calendar")) {
                    const result = await Request.GET("/api/calendar", {
                        calendar: query.get("calendar"),
                    });
                    if (result) {
                        document.getElementById("calendar").style.display = "block";
                        document.getElementById("calendar_overview").style.diplay = "none";

                        const urls = result.data.urls;
                        const courseNumbers = result.data.courseNumbers;

                        for (let i = 0; i < urls.length; i++) {
                            document.getElementById("urls").innerHTML += createUrlRow(urls[i]);
                        }

                        for (let i = 0; i < courseNumbers.length; i++) {
                            document.getElementById("courseNumbers").innerHTML += createCourseRow(courseNumbers[i]);
                        }
                    }
                } else {
                    const result = await Request.GET("/api/calendar");
                    if (result) {
                        document.getElementById("calendar_overview").style.display = "block";
                        document.getElementById("calendar").style.display = "none";

                        const tables = result.data.tables;

                        for (let i = 0; i < tables.length; i++) {
                            document.getElementById("calendar_overview_content").innerHTML += createCalendarRow(tables[i]);
                        }
                    }
                }
            }

            setup();

            function createCalendarRow(row) {
                return `<tr id="c_${row.id}">
                <td>${row.id}</td>
                <td>${row.name}</td>
                <td><button type='button' class='btn btn-link' onclick='window.location.href+="?calendar=${row.id}"'><a href='?calendar=${row.id}'>Edit</a></button></td>
                <td><button type='button' class='btn btn-danger' onclick='deleteCalendar(${row.id})'> Delete </button></td>
                </td>`;
            }
            function createCourseRow(row) {
                return `<tr id="cn_${row.id}">
                <td>${row.data}</td>
                <td>${row.name}</td>
                <td><button type='button' class='btn btn-danger' onclick='deleteCourse(${row.id})'> Delete </button></td>
                </tr>`;
            }
            function createUrlRow(row) {
                return `<tr id="url_${row.id}">
                <td>${row.data}</td>
                <td>${row.name}</td>
                <td><button type='button' class='btn btn-danger' onclick='deleteUrl(${row.id})'> Delete </button></td>
                </tr>`;
            }
		</script>

	</body>
</html>
